<a href="https://colab.research.google.com/github/AnsonQiu/Box-Model/blob/main/TransitTitans_Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Visualizations for Abhishek's PI Meeting

## 1. Setup, Data Loading and Processing

In [5]:
!pip install geopandas

import pandas as pd
import geopandas as gpd
import os
from shapely.geometry import Point
import json
import plotly.graph_objects as go
import datetime as dt
import concurrent

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.9/dist-packages (0.12.2)
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.9/dist-packages (from geopandas) (2.0.1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.9/dist-packages (from geopandas) (1.9.3)
Requirement already satisfied: pyproj>=2.6.1.post1 in /usr/local/lib/python3.9/dist-packages (from geopandas) (3.5.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from geopandas) (23.0)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from geopandas) (1.5.3)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (8.1.3)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (6.3.0)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (22.2.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (2022.12.7)
Requirement already satisfied: munch>=2.3.2 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from munch>=2.3.2->fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata->fiona>=1.8->geopandas) (3.15.0)

In [6]:
# load apc data

file_path = os.path.join(os.getcwd(), 'output', 'cartaapc_dashboard_2020.csv')
df_apc = pd.read_csv(file_path)
df_apc['geometry'] = df_apc.apply(lambda row: Point(row['stop_lon'], row['stop_lat']), axis=1)
df_apc = gpd.GeoDataFrame(df_apc)
df_apc = df_apc.set_geometry('geometry')
df_apc['datetime'] = df_apc['actual_arrival_datetime'].apply(lambda x: dt.datetime.fromisoformat(x))
df_apc['date'] = df_apc['trip_date'].apply(lambda x: dt.date.fromisoformat(x))
print(f"Date range: {df_apc['date'].min()} to {df_apc['date'].max()}")
df_apc.head(1)

FileNotFoundError: ignored

In [ ]:
credentials = {
    'region_name': 'us-east-1',
    'aws_access_key_id': 'ASIAQM7UTTOZCVOQNUWS',
    'aws_secret_access_key': 'Q+uxKPpWzt/khYoX2WgrVJPiykI9RIMWGJJgFaq4',
    'aws_session_token': 'FwoGZXIvYXdzEHQaDD1IObEqj+xuy/22+iLIAbWUwgJmqW5R//9ulf2sR0cca2UV9eguPmrS1/uOKnxsOiSmnfrmbGT9XThl1ZonXB5KDwdPNs3l6HSEiRDzx4AE+zjesrjsaGrJEW5jzgwYAIxX4AgHp7Fc6eVRPoxw4QKXReGNMCbD9MiMLSBXGss2EhR4WWNWqUS7iWoyEI0D7cOv/1xYj49JSkgSrqdOvTbriBq3VJNeErOn1CaBmuQZlmfUJ4s6aSbqqcL+bwJEkuknTQOrU1FUPBKmQ3DryZVvgdb7jiLDKIDKwaEGMi1IHPeURDFtM45gGtCyxzFcpHuJZW+WLt4tFHOHTHrBTYpXh/kSGy6UBV0JzjM='
}

In [ ]:
import boto3, json

session = boto3.session.Session(**credentials)
s3 = session.client('s3')

In [ ]:
output_key = "hw6/1_count.out/part-00000"
lines = s3.get_object(Bucket='vandy-bigdata', Key=output_key)['Body'].read().decode().splitlines()
test1(lines)

In [ ]:
# load census tract shapes

file_path = os.path.join(os.getcwd(), 'data-class', 'census_tract', 'tennessee', 'tl_2016_47_tract.shp')
df_tracts = gpd.read_file(file_path)
df_tracts['census_tract'] = df_tracts['GEOID'].apply(str)
df_tracts.set_geometry('geometry', inplace=True)
df_tracts = df_tracts[df_tracts['COUNTYFP']=="065"]
print(len(df_tracts))
df_tracts = df_tracts.drop_duplicates(subset=['census_tract'])
print(len(df_tracts))
df_tracts.head(1)

82
82

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,census_tract
48,47,065,010411,47065010411,104.11,Census Tract 104.11,G5020,S,17103362,37850,+35.1876924,-085.2117517,"POLYGON ((-85.24658 35.18283, -85.24651 35.183...",47065010411

In [ ]:
# load census tract economic data

def get_census_tract(row):
    state, county, tract = str(row['state']), str(row['county']), str(row['tract'])
    if len(county) == 2:
        county = "0{}".format(county)
    while len(county) != 3:
        county = "0" + county
    while len(tract) != 6:
        tract = "0" + tract
    return str(state + county + tract)

file_path = os.path.join(os.getcwd(), 'data-class', 'economic_data', 'census_economic_data_all_tennessee.csv')
df_econ = pd.read_csv(file_path)
df_econ['census_tract'] = df_econ.apply(lambda row: get_census_tract(row), axis=1)
print(len(df_econ))
df_econ = df_econ[df_econ['census_tract'].isin(df_tracts['census_tract'].tolist())]
print(len(df_econ))
df_econ.head(1)

1497
82

,NAME,B01003_001E,B01001_011E,B01001_035E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B03001_003E,B19013_001E,B19113_001E,B25001_001E,B25002_002E,B25003_002E,B25075_023E,B25075_024E,B25075_025E,B25002_003E,B25077_001E,B25064_001E,state,county,tract,census_tract
577,"Census Tract 4, Hamilton County, Tennessee",3881,178,139,567,3208,0,50,0,0,56,12,26865,31440,1652,1317,502,0,0,0,335,74700,649,47,65,400,47065000400

column names: http://proximityone.com/acs2016_api.htm

In [ ]:
df_econ['total_population'] = df_econ['B01003_001E']
df_econ['male_25_29'] = df_econ['B01001_011E']
df_econ['female_25_29'] = df_econ['B01001_035E']
df_econ['median_household_income'] = df_econ['B19013_001E']
df_econ['median_family_income'] = df_econ['B19113_001E']
df_econ['median_housing_value'] = df_econ['B25077_001E']
df_econ['median_gross_rent'] = df_econ['B25064_001E']
df_econ['vacant_housing_units'] = df_econ['B25002_003E']
df_econ['total_housing_units'] = df_econ['B25001_001E']
df_econ['white'] = df_econ['B02001_002E']
df_econ['african_american'] = df_econ['B02001_003E']
df_econ['hispanic'] = df_econ['B03001_003E']
df_econ = df_econ[['total_population', 'male_25_29', 'female_25_29', 'median_household_income', 'median_family_income', 'median_housing_value', 'median_gross_rent', 'vacant_housing_units', 'total_housing_units', 'total_housing_units', 'white', 'african_american', 'hispanic', 'census_tract']]
df_econ.head(1)

,total_population,male_25_29,female_25_29,median_household_income,median_family_income,median_housing_value,median_gross_rent,vacant_housing_units,total_housing_units,total_housing_units,white,african_american,hispanic,census_tract
577,3881,178,139,26865,31440,74700,649,335,1652,1652,567,3208,12,47065000400

In [ ]:
print(len(df_tracts['census_tract'].unique()))
print(len(df_econ['census_tract'].unique()))

82
82

Documentation links:

* dask: dask is a parallelized version of Pandas (https://dask.org/)
* GeoPandas: extension of Pandas for geospatial queries (https://geopandas.org/en/stable/)
* Shapely: shapely is a spatial library that under-pins geopandas. This documentation can be useful to see what spatial queries are available for Geopandas (https://shapely.readthedocs.io/en/stable/manual.html)
* Mongo Geospatial queries: MongoDB has native support for basic geospatial queries as well (https://pymongo.readthedocs.io/en/stable/examples/geo.html)
* covid paper link: our COVID-19 paper has useful examples of visualizations using this data (https://arxiv.org/pdf/2008.02413.pdf)

In [ ]:
result = {'census_tract': [], 'board_count': [], 'board_count_per_day': [], 'alight_count_per_day': [], 'alight_count': [], 'geometry': []}
print(len(df_tracts))

num_days = len(df_apc['date'].unique())
counter = 0
for k, v in df_tracts.iterrows():
    df = df_apc[df_apc['geometry'].within(v['geometry'])] # geospatial query using geopandas
    board_count = df['board_count'].sum()
    board_count_per_day = board_count / num_days
    alight_count = df['alight_count'].sum()
    alight_count_per_day = alight_count / num_days
    result['census_tract'].append(v['census_tract'])
    result['board_count'].append(board_count)
    result['board_count_per_day'].append(board_count_per_day)
    result['alight_count_per_day'].append(alight_count_per_day)
    result['alight_count'].append(alight_count)
    result['geometry'].append(v['geometry'])
    if counter % 10 == 0:
        print(counter)
    counter += 1

82
0
10
20
30
40
50
60
70
80

In [ ]:
df_result = gpd.GeoDataFrame(result)
df_result = df_result.set_geometry('geometry')
df_result = df_result.merge(right=df_econ, on='census_tract', validate='one_to_one')
df_result.to_pickle(os.path.join(os.getcwd(), 'output', 'df_processed.pkl'))
df_result.head(1)

,census_tract,board_count,board_count_per_day,alight_count_per_day,alight_count,geometry,total_population,male_25_29,female_25_29,median_household_income,median_family_income,median_housing_value,median_gross_rent,vacant_housing_units,total_housing_units,total_housing_units,white,african_american,hispanic
0,47065010411,0,0.0,0.0,0,"POLYGON ((-85.24658 35.18283, -85.24651 35.183...",7036,203,90,62204,80567,170900,764,111,2729,2729,6680,124,326

## 2. Ridership Chlorograph Plot

In [ ]:
df_result = pd.read_pickle(os.path.join(os.getcwd(), 'output', 'df_processed.pkl'))
df_result = df_result.set_geometry('geometry')
print(len(df_result))
df_result.head(2)

82

,census_tract,board_count,board_count_per_day,alight_count_per_day,alight_count,geometry,total_population,male_25_29,female_25_29,median_household_income,median_family_income,median_housing_value,median_gross_rent,vacant_housing_units,total_housing_units,total_housing_units,white,african_american,hispanic
0,47065010411,0,0.000000,0.000000,0,"POLYGON ((-85.24658 35.18283, -85.24651 35.183...",7036,203,90,62204,80567,170900,764,111,2729,2729,6680,124,326
1,47065001800,174,1.216783,2.552448,365,"POLYGON ((-85.34730 34.98896, -85.34728 34.989...",2329,111,127,42234,58438,140600,734,400,1330,1330,1664,516,125

In [ ]:
import json
import plotly.graph_objects as go

mapbox_accesstoken = "pk.eyJ1IjoibXB3aWxidXIiLCJhIjoiY2thZmtvMXNzMDB3MzJ3bG1hZmtzZHNiMyJ9.wBKXW7tNj3G5cMk3k2tCEQ"
df_temp = df_result[df_result['board_count_per_day']>0][['census_tract', 'geometry', 'board_count_per_day', 'alight_count_per_day']]
print(len(df_temp))
#df_temp = df_result[['census_tract', 'geometry', 'board_count_per_day', 'alight_count_per_day']]

fig = go.Figure(go.Choroplethmapbox(geojson=json.loads(df_temp.to_json()), 
                                    featureidkey="properties.census_tract",
                                    locations=df_temp['census_tract'].tolist(), 
                                    z=df_temp['board_count_per_day'].tolist(), colorscale='Bluered', zmax=100, zmin=0, text="properties.board_count_per_day"))

fig.update_layout(mapbox_style="light", mapbox_accesstoken=mapbox_accesstoken,
                  mapbox_zoom=11, mapbox_center = {"lat": 35.03560, "lon": -85.25309}, title="Change")

fig.write_html(os.path.join(os.getcwd(), "output", "images", "ChattanoogaBoardingsChoropleth.html"))
#fig.show()

42

In [ ]:
mapbox_accesstoken = "pk.eyJ1IjoibXB3aWxidXIiLCJhIjoiY2thZmtvMXNzMDB3MzJ3bG1hZmtzZHNiMyJ9.wBKXW7tNj3G5cMk3k2tCEQ"
df_temp = df_result[df_result['alight_count_per_day']>0][['census_tract', 'geometry', 'board_count_per_day', 'alight_count_per_day']]
#df_temp = df_result[['census_tract', 'geometry', 'board_count_per_day', 'alight_count_per_day']]
print(len(df_temp))

fig = go.Figure(go.Choroplethmapbox(geojson=json.loads(df_temp.to_json()), 
                                    featureidkey="properties.census_tract",
                                    locations=df_temp['census_tract'].tolist(), 
                                    z=df_temp['alight_count_per_day'].tolist(), colorscale='Bluered', zmax=100, zmin=0, text="properties.alight_count_per_day"))

fig.update_layout(mapbox_style="light", mapbox_accesstoken=mapbox_accesstoken,
                  mapbox_zoom=11, mapbox_center = {"lat": 35.03560, "lon": -85.25309}, title="Change")

fig.write_html(os.path.join(os.getcwd(), "output", "images", "ChattanoogaAlightChoropleth.html"))
#fig.show()

42

## 3. Pearson Correlation Table

In [ ]:
df_result.corr(method='pearson')[['board_count', 'alight_count']]

                         board_count  alight_count
board_count                 1.000000      0.982751
board_count_per_day         1.000000      0.982751
alight_count_per_day        0.982751      1.000000
alight_count                0.982751      1.000000
total_population           -0.183332     -0.192190
male_25_29                  0.022657      0.005930
female_25_29               -0.078086     -0.099058
median_household_income     0.047581      0.052150
median_family_income        0.047604      0.052176
median_housing_value        0.009817     -0.000925
median_gross_rent           0.047629      0.052203
vacant_housing_units        0.011090      0.003892
total_housing_units        -0.172569     -0.207476
total_housing_units        -0.172569     -0.207476
white                      -0.229517     -0.237607
african_american            0.119009      0.121524
hispanic                   -0.057109     -0.050595